.task-serial-0 { background: Blue !important;}
.task-serial-1 { background: BlueViolet !important;}
.task-serial-2 { background: Brown !important;}
.task-serial-3 { background: BurlyWood !important;}
.task-serial-4 { background: CadetBlue !important;}
.task-serial-5 { background: Chartreuse !important;}
.task-serial-6 { background: Chocolate !important;}
.task-serial-7 { background: Coral !important;}
.task-serial-8 { background: CornflowerBlue !important;}
.task-serial-9 { background: Cornsilk !important;}
.task-serial-10 { background: Crimson !important;}
.task-serial-11 { background: Cyan !important;}
.task-serial-12 { background: DarkBlue !important;}
.task-serial-13 { background: DarkCyan !important;}
.task-serial-14 { background: DarkGoldenRod !important;}
.task-serial-15 { background: DarkGray !important;}
.task-serial-16 { background: DarkGreen !important;}
.task-serial-17 { background: DarkKhaki !important;}
.task-serial-18 { background: DarkMagenta !important;}
.task-serial-19 { background: DarkOliveGreen !important;}
.task-serial-20 { background: DarkOrange !important;}
.task-serial-21 { background: DarkOrchid !important;}
.task-serial-22 { background: DarkRed !important;}
.task-serial-23 { background: DarkSalmon !important;}
.task-serial-24 { background: DarkSeaGreen !important;}
.task-serial-25 { background: DarkSlateBlue !important;}
.task-serial-26 { background: DarkSlateGray !important;}
.task-serial-27  { background: DarkTurquoise !important; }
.task-serial-28  { background: DarkViolet !important; }
.task-serial-29  { background: DeepPink !important; }
.task-serial-30  { background: DeepSkyBlue !important; }
.task-serial-31  { background: DimGray !important; }
.task-serial-32  { background: DodgerBlue !important; }
.task-serial-33  { background: FireBrick !important; }
.task-serial-34  { background: FloralWhite !important; }
.task-serial-35  { background: ForestGreen !important; }
.task-serial-36  { background: Fuchsia !important; }
.task-serial-37  { background: Gainsboro !important; }
.task-serial-38  { background: GhostWhite !important; }
.task-serial-39  { background: Gold !important; }
.task-serial-40  { background: GoldenRod !important; }
.task-serial-41  { background: Gray !important; }
.task-serial-42  { background: Green !important; }
.task-serial-43  { background: GreenYellow !important; }
.task-serial-44  { background: HoneyDew !important; }
.task-serial-45  { background: HotPink !important; }
.task-serial-46  { background: IndianRed !important; }
.task-serial-47  { background: Indigo !important; }
.task-serial-48  { background: Ivory !important; }
.task-serial-49  { background: Khaki !important; }
.task-serial-50  { background: Lavender !important; }
.task-serial-51  { background: LavenderBlush !important; }
.task-serial-52  { background: LawnGreen !important; }
.task-serial-53  { background: LemonChiffon !important; }
.task-serial-54  { background: LightBlue !important; }
.task-serial-55  { background: LightCoral !important; }
.task-serial-56  { background: LightCyan !important; }
.task-serial-57  { background: LightGoldenRodYellow !important; }
.task-serial-58  { background: LightGray !important; }
.task-serial-59  { background: LightGreen !important; }
.task-serial-60  { background: LightPink !important; }
.task-serial-61  { background: LightSalmon !important; }
.task-serial-62  { background: LightSeaGreen !important; }
.task-serial-63  { background: LightSkyBlue !important; }
.task-serial-64  { background: LightSlateGray !important; }
.task-serial-65  { background: LightSteelBlue !important; }
.task-serial-66  { background: LightYellow !important; }
.task-serial-67  { background: Lime !important; }
.task-serial-68  { background: LimeGreen !important; }
.task-serial-69  { background: Linen !important; }
.task-serial-70  { background: Magenta !important; }
.task-serial-71  { background: Maroon !important; }
.task-serial-72  { background: MediumAquaMarine !important; }
.task-serial-73  { background: MediumBlue !important; }
.task-serial-74  { background: MediumOrchid !important; }
.task-serial-75  { background: MediumPurple !important; }
.task-serial-76  { background: MediumSeaGreen !important; }
.task-serial-77  { background: MediumSlateBlue !important; }
.task-serial-78  { background: MediumSpringGreen !important; }
.task-serial-79  { background: MediumTurquoise !important; }
.task-serial-80  { background: MediumVioletRed !important; }
.task-serial-81  { background: MidnightBlue !important; }
.task-serial-82  { background: MintCream !important; }
.task-serial-83  { background: MistyRose !important; }
.task-serial-84  { background: Moccasin !important; }
.task-serial-85  { background: NavajoWhite !important; }
.task-serial-86  { background: Navy !important; }
.task-serial-87  { background: OldLace !important; }
.task-serial-88  { background: Olive !important; }
.task-serial-89  { background: OliveDrab !important; }
.task-serial-90  { background: Orange !important; }
.task-serial-91  { background: OrangeRed !important; }
.task-serial-92  { background: Orchid !important; }
.task-serial-93  { background: PaleGoldenRod !important; }
.task-serial-94  { background: PaleGreen !important; }
.task-serial-95  { background: PaleTurquoise !important; }
.task-serial-96  { background: PaleVioletRed !important; }
.task-serial-97  { background: PapayaWhip !important; }
.task-serial-98  { background: PeachPuff !important; }
.task-serial-99  { background: Peru !important; }
.task-serial-100   { background: Pink !important; }
.task-serial-101   { background: Plum !important; }
.task-serial-102   { background: PowderBlue !important; }
.task-serial-103   { background: Purple !important; }
.task-serial-104   { background: Red !important; }
.task-serial-105   { background: RosyBrown !important; }
.task-serial-106   { background: RoyalBlue !important; }
.task-serial-107   { background: SaddleBrown !important; }
.task-serial-108   { background: Salmon !important; }
.task-serial-109   { background: SandyBrown !important; }
.task-serial-110   { background: SeaGreen !important; }
.task-serial-111   { background: SeaShell !important; }
.task-serial-112   { background: Sienna !important; }
.task-serial-113   { background: Silver !important; }
.task-serial-114   { background: SkyBlue !important; }
.task-serial-115   { background: SlateBlue !important; }
.task-serial-116   { background: SlateGray !important; }
.task-serial-117   { background: Snow !important; }
.task-serial-118   { background: SpringGreen !important; }
.task-serial-119   { background: SteelBlue !important; }
.task-serial-120   { background: Tan !important; }
.task-serial-121   { background: Teal !important; }
.task-serial-122   { background: Thistle !important; }
.task-serial-123   { background: Tomato !important; }
.task-serial-124   { background: Turquoise !important; }
.task-serial-125   { background: Violet !important; }
.task-serial-126   { background: Wheat !important; }
.task-serial-127   { background: White !important; }
.task-serial-128   { background: WhiteSmoke !important; }
.task-serial-129   { background: Yellow !important; }
.task-serial-130   { background: YellowGreen !important; }