
$blue: #049cdb !default;
$blueDark: #0064cd !default;
$green: #46a546 !default;
$red: #9d261d !default;

$danger: red;
$warning: yellow;
$info: green;
$mainColor: #666;
$mainBackground: #fff;

$taskBlockWidth: 50px;
$taskBlockHeight:50px;
$taskBorderColor: #ccc;
$taskBorderWidth: 1px;
$taskPadding: 5px;
$taskTypeProcess: $blue;
$taskTypeContextSwitch: $blueDark;
$taskTypeAlgorithm: $red;
$rulerHeight: 5px;
$wrapperHeight: $taskBlockHeight + $rulerHeight * 5;