/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background-color: white;
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #666666;
}

/* line 15, ../sass/screen.scss */
footer.footer {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
  bottom: 0;
  background: #ccc;
  display: block;
}

/* line 41, ../sass/screen.scss */
.wrapper {
  overflow: scroll;
  width: 100%;
  height: 50px;
  padding: 0;
  position: relative;
}
/* line 47, ../sass/screen.scss */
.wrapper .niddle {
  position: absolute;
  display: block;
  height: 50px;
  width: 5px;
  overflow: hidden;
  box-sizing: border-box;
  background: #ccc;
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
}

/* line 61, ../sass/screen.scss */
.simulator-viewport {
  border: 1px #ccc solid;
  margin-top: 20px;
  box-sizing: border-box;
}
/* line 65, ../sass/screen.scss */
.simulator-viewport .current-task img.cpu-image {
  display: block;
  margin: 0 auto;
  width: 40%;
}

/* line 72, ../sass/screen.scss */
.simulator {
  width: 65536px;
  height: 50px;
}
/* line 75, ../sass/screen.scss */
.simulator div.task {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 38px;
  min-height: 50px;
  max-height: 50px;
  border: 1px solid #cccccc;
  border-radius: 12.5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  margin: 0;
}
/* line 91, ../sass/screen.scss */
.simulator div.task-process {
  background: #049cdb;
}
